rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /medewerkers/{uid} {
      allow read: if request.auth != null && request.auth.uid == uid;
      allow write: if false;
    }
    match /klanten/{uid} {
      allow create: if request.auth != null && request.auth.uid == uid;
      allow read: if request.auth != null &&
        (request.auth.uid == uid || exists(/databases/$(database)/documents/medewerkers/$(request.auth.uid)));
      allow update: if request.auth != null && exists(/databases/$(database)/documents/medewerkers/$(request.auth.uid));
      allow delete: if request.auth != null && request.auth.uid == uid;
    }
  }
}
